<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.pikkart.trial" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="PokemonDI.Android" android:icon="@drawable/icon">
	  <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCCt6KgYTffn_7Ub3rO7ljDwgGG7MKDNj8" />
	  <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>
</manifest>